.container{
    max-width: 200rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #e8f5e9;
}

ul{
    display: flex;
    gap: 2.5rem;
}

